@model NBS2019.Models.DworkinWiFiSurveyResult

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DworkinWiFiSurveyResult</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessCentre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessCentre.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedFE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedFE.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOnSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeOnSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccessPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccessPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccessPointsBrandModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccessPointsBrandModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.A)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.A)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.B)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.B)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.E)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.E)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.G)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.G)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
