@model NBS2019.Models.TestModels.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderedBy.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderPostId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderPostId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderPost1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderPost1.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
