@model NBS2019.Models.SupportCase

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SupportCase</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeReported)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeReported)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeStarted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeStarted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeFEScheduled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeFEScheduled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSolved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeSolved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalTimeOnSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalTimeOnSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessCentre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessCentre.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderedBy.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedFE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedFE.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descrition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descrition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrder.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
