@model NBS2019.Models.SupportCase

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SupportCase</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeReported)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeReported)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeStarted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeStarted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeFEScheduled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeFEScheduled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSolved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeSolved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalTimeOnSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalTimeOnSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessCentre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessCentre.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderedBy.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedFE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedFE.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descrition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descrition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrder.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
