@model IEnumerable<NBS2019.Models.SupportCase>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TimeReported)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStarted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeFEScheduled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSolved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalTimeOnSite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessCentre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedFE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descrition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseOrder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeReported)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStarted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeFEScheduled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSolved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalTimeOnSite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessCentre.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderedBy.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedFE.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseOrder.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
